/*add fonts*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Raleway:300,400,500,600,700");
.z-100 {
  z-index: 100; }

.t-0 {
  top: 0; }

.h-100vh {
  min-height: 100vh; }

.font-raleway {
  font-family: "Raleway", sans-serif; }

.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

h2, h5 {
  font-family: "Raleway", sans-serif; }

h2 {
  font-size: 52px;
  font-weight: 700; }

h5 {
  font-size: 36px;
  font-weight: 500; }

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #998675;
  box-shadow: inset 0px -3px 0 0 #736357;
  padding: 6px 25px;
  height: 53px; }
  .btn:hover, .btn:focus {
    background-color: #615347;
    box-shadow: inset 0px -3px 0 0 #39312b; }

.slick-next {
  right: 25px;
  z-index: 1;
  width: 40px;
  height: 73px; }
  .slick-next::before {
    content: '';
    display: block;
    background: url("../img/right.svg");
    width: 40px;
    height: 73px; }

.slick-prev {
  left: 25px;
  z-index: 1;
  width: 40px;
  height: 73px; }
  .slick-prev::before {
    content: '';
    display: block;
    background: url("../img/left.svg");
    width: 40px;
    height: 73px; }

.slick-dots {
  bottom: 25px; }
  .slick-dots li button:before {
    line-height: 11px;
    opacity: .75;
    color: white; }
  .slick-dots li.slick-active button:before {
    content: '';
    display: block;
    background: url("../img/02.svg") no-repeat;
    width: 15px;
    height: 15px;
    left: 3px; }

.slider-head {
  color: #fff; }
  .slider-head .slide-content {
    padding: 100px 0; }
  .slider-head .slider-btn {
    margin-top: 50px; }

.tm-navbar-main {
  z-index: 100;
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 14px; }
  .tm-navbar-main a {
    color: #fff; }
  .tm-navbar-main .navbar-brand {
    font-size: 34px; }

.navbar-toggler-icon {
  background-image: url("../img/toggler.svg"); }

.tm-nav .nav-link:focus, .tm-nav .nav-link:hover {
  color: #c7b299; }
.tm-nav .active > .nav-link {
  color: #c7b299; }

.navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background-color: #555; }

@media (min-width: 992px) {
  .navbar-collapse {
    position: static;
    padding: 0;
    background-color: transparent; } }
.content-icon-top-1 {
  width: 50px;
  height: 50px; }

.content-icon-bottom-1 {
  width: 70px;
  height: 3px; }

.something-gray {
  background-color: #fbfaf8; }

.dark-line {
  background: url("../img/dark_line.svg"); }

#pills-tab .nav-link {
  border: 1px solid #ebebeb;
  color: #8c8c8c;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center; }
  #pills-tab .nav-link.active {
    background-color: #998675;
    color: #ffffff; }

#pills-tabContent .card-body {
  background-color: #fbfaf8; }
#pills-tabContent .card:hover {
  background: #000000; }
  #pills-tabContent .card:hover img {
    opacity: 0.5; }
  #pills-tabContent .card:hover .card-body {
    background-color: #362f2d; }
    #pills-tabContent .card:hover .card-body .card-title {
      color: #ffffff; }
    #pills-tabContent .card:hover .card-body .card-text {
      color: #c7b299; }

.content-mobile {
  background-color: #fbfaf8; }
  .content-mobile ul {
    list-style-image: url("../img/li-marker-1.png"); }

.content-counters {
  background-image: linear-gradient(to right, #211b19, #4e3427); }

#content-recent-posts .card-title {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #555555; }
#content-recent-posts .card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #8c8c8c; }
#content-recent-posts .card:hover {
  background: #000000; }
  #content-recent-posts .card:hover img {
    opacity: 0.5; }
  #content-recent-posts .card:hover .card-body {
    background-color: #362f2d; }
    #content-recent-posts .card:hover .card-body .card-title {
      color: #c7b299; }
    #content-recent-posts .card:hover .card-body .card-text {
      color: #ffffff; }

.content-trademarks {
  background-image: url("../img/trademarks-bg.jpg");
  height: 489px; }

.footer-main {
  background-color: #191919; }

.footer-footer {
  background-color: #111111; }

/*# sourceMappingURL=main.css.map */
