@import "variables";
/*add fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Raleway:300,400,500,600,700');

//GLOBAL

//@media (min-width: 3000px) {
//  .container {
//    max-width: 2900px;
//  }
//}

.z-100 {
  z-index: 100;
}

.t-0 {
  top: 0;
}

.h-100vh {
  min-height: 100vh;
}

.font-raleway {
  font-family: $raleway;
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  font-family: $montserrat;
  font-size: $fontSizeMain;
}

h2, h5 {
  font-family: $raleway;
}

h2 {
  font-size: 52px;
  font-weight: 700;
}

h5 {
  font-size: 36px;
  font-weight: 500;
}

.btn {
  font-family: $raleway;
  font-size: $fontSizeSmall;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #998675;
  box-shadow: inset 0px -3px 0 0 #736357;
  padding: 6px 25px;
  height: 53px;

  &:hover, &:focus {
    background-color: darken(#998675, 20%);
    box-shadow: inset 0px -3px 0 0 darken(#736357, 20%);
  }
}

//NAVBAR
.tm-navbar-main {
  z-index: 100;
  position: absolute;
  top: 50px;
  width: 100%;
  font-size: $fontSizeSmall;

  a {
    color: #fff;
  }

  .navbar-brand {
    font-size: 34px;
  }

  //Toggle button icon
  .navbar-toggler-icon {
    background-image: url("../img/toggler.svg");
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    background-color: #555;

    .tm-nav {

      .nav-link {

        &:focus, &:hover {
          color: $textPrimaryColor;
        }
      }

      .active > .nav-link {
        color: $textPrimaryColor;
      }
    }
  }

  @media (min-width: 992px) {

    .navbar-collapse {
      position: static;
      padding: 0;
      background-color: transparent;
    }
  }
}
.fixedNav {
  position: fixed;
  top: 0;
  background-color: rgba(50,50,50,0.3);
}

//SLIDER
.slider-head {
  color: #fff;

  .slide-content {
    padding: 100px 0;
  }

  .slider-btn {
    margin-top: 50px;
  }

  //Right arrow
  .slick-next {
    right: 25px;
    z-index: 1;
    width: 40px;
    height: 73px;

    &::before {
      content: '';
      display: block;
      background: url("../img/right.svg");
      width: 40px;
      height: 73px;
    }
  }
  //Left arrow
  .slick-prev {
    left: 25px;
    z-index: 1;
    width: 40px;
    height: 73px;

    &::before {
      content: '';
      display: block;
      background: url("../img/left.svg");
      width: 40px;
      height: 73px;
    }
  }
  //Dots
  .slick-dots {
    bottom: 25px;

    li button:before {
      line-height: 11px;
      opacity: .75;
      color: white;
    }

    li.slick-active button:before {
      content: '';
      display: block;
      background: url("../img/02.svg") no-repeat;
      width: 15px;
      height: 15px;
      left: 3px;
    }
  }
}

//CONTENT

//4 cards
.content-depts {

  @media (max-width: 768px) {

    .card {
      padding-top: 20px;
    }
  }

  .card-img-top {
    width: 50px;
    height: 50px;
  }

  .card-img-bottom {
    width: 70px;
    height: 3px;
  }

  .card-title {
    white-space: nowrap;
    font-family: $raleway;
    font-size: 22px;
    font-weight: 600;
    color: #555555;

    &.active {
      color: $textPrimaryColor
    }
  }

  .card-text {
    font-size: $fontSizeSmall;
    font-weight: 300;
    color: #8c8c8c;
  }
}

//Gray zone
.content-gray {
  background-color: #fbfaf8;
  font-size: $fontSizeMain;
  font-weight: 300;
  color: #8c8c8c;

  h5 {
    font-family: $raleway;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
  }
}

//Dark line 1 background
.content-darkline {
  background: url("../img/dark_line.svg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 18px;
  font-weight: 300;
  color: #615855;

  h5 {
    font-family: $raleway;
    font-size: 28px;
    font-weight: normal;
    color: #ffffff;

    a {
      color: $textPrimaryColor;
    }
  }
}

.content-projects {
  font-size: $fontSizeMain;
  font-weight: 300;
  color: #8c8c8c;

  h5 {
    font-family: $raleway;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
  }

  .nav-pills {
    .nav-link {
      border: 1px solid #ebebeb;
      font-family: $montserrat;
      font-size: 14px;
      font-weight: 300;
      color: #8c8c8c;

      &.active {
        background-color: #998675;
        color: #ffffff;
      }
    }
  }

  .tab-content {

    .card {
      position: relative;
      display:none;

      .card-body {
        background-color: #fbfaf8;

        .card-title {
          font-family: $raleway;
          font-size: 20px;
          font-weight: 500;
          text-align: left;
          color: $textPrimaryColor;
        }

        .card-text {
          font-size: $fontSizeSmall;
          font-weight: 300;
          text-align: left;
          color: #d1d1d1;
        }
      }

      .hover-links {
        position: absolute;
        display: none;
        top: 25%;
      }
    }
    .card:hover {
      background: #000000;

      .card-img-top {
        opacity: 0.5;
      }

      .card-body {
        background-color: #362f2d;

        .card-title {
          color: #ffffff;
        }

        .card-text {
          color: $textPrimaryColor;
        }
      }

      .hover-links {
        display: block;

        img {
          padding: 10px;
        }
      }
    }
  }
}

.content-mobile {
  background-color: #fbfaf8;
  font-size: $fontSizeMain;
  font-weight: 300;
  color: #8c8c8c;

  h5 {
    font-family: $raleway;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
  }

  ul {
    list-style-image: url("../img/li-marker-1.png");
  }
}

.content-counters {
  background-image: linear-gradient(to right, #211b19, #4e3427);
  font-size: $fontSizeSmall;
  font-weight: 300;
  color: $textPrimaryColor;
  white-space: nowrap;

  h5 {
    font-size: 48px;
    font-weight: 200;
    color: #ffffff;
  }
}

.content-recent {
  font-size: $fontSizeMain;
  font-weight: 300;
  color: #8c8c8c;

  h5 {
    font-family: $raleway;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
  }

  .card-title {
    font-family: $raleway;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #555555;
  }

  .card-text {
    font-family: $montserrat;
    font-size: $fontSizeSmall;
    font-weight: 300;
    text-align: left;
    color: #8c8c8c;
  }

  .card:hover {
    background: #000000;
    cursor: pointer;

    a {
      text-decoration: none;
    }

    img {
      opacity: 0.5;
    }

    .card-body {
      background-color: #362f2d;

      .card-title {
        color: $textPrimaryColor;
      }

      .card-text {
        color: #ffffff;
      }
    }
  }
}

.content-trademarks {
  background-image: url("../img/trademarks-bg.jpg");
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
  }
}

.footer-main {
  background-color: #191919;
  font-size: $fontSizeSmall;
  font-weight: 300;
  text-align: left;
  color: #555555;

  .logo {
    font-family: $raleway;
    font-size: 34px;
    font-weight: normal;
    letter-spacing: -1.4px;
    color: #ffffff;
  }

  h1 {
    font-size: $fontSizeTiny;
    font-weight: 300;
    text-align: left;
    color: #363636;
  }

  h5 {
    font-family: $raleway;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
  }

  a {
    color: #00bff3;

    &.link-more {
      font-size: $fontSizeSmall;
      font-weight: normal;
      text-align: left;
      color: #d1d1d1;

      &:hover {
        color: white;
      }
    }

    &.link-alt {
      color: #959595;

      &:hover {
        color: gray;
      }
    }
  }

  .footer-main-highlight div:hover {
    color: $textPrimaryColor;
    cursor: pointer;

    h1 {
      color: #ffffff;
    }

    p {
      color: $textPrimaryColor;
    }

  }
}

.footer-basement {
  background-color: #111111;
  font-size: $fontSizeSmall;
  font-weight: 300;
  text-align: left;
  color: #555555;

  a {
    color: #555555;

    &:hover {
      color: $textPrimaryColor;
    }

    &.link-alt {
      color: #959595;

      &:hover {
        color: gray;
      }
    }
  }
}

#toTop {
  //width: 100px;
  //border: 1px solid #ccc;
  //-webkit-border-radius: 5px;
  //-moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(50, 50, 50, 0.3);
  //text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 10px; /* отступ кнопки от нижнего края страницы*/
  right: 10px;
  cursor: pointer;
  display: none;
  color: #eee;
  //font-family: Roboto, sans-serif;
  //font-size: 11px;
}